In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df= pd.read_csv("car data.csv")

In [14]:
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [16]:
df.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [18]:
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [20]:
df.shape

(301, 9)

In [22]:
df.drop(columns=["Car_Name","Owner"],inplace=True)

In [24]:
df.head(5)

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [30]:
col_list=("Fuel_Type","Seller_Type","Transmission")
for col in col_list:
    df[col]=le.fit_transform(df[col])

In [32]:
df.head(5)

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,2014,3.35,5.59,27000,2,0,1
1,2013,4.75,9.54,43000,1,0,1
2,2017,7.25,9.85,6900,2,0,1
3,2011,2.85,4.15,5200,2,0,1
4,2014,4.60,6.87,42450,1,0,1

In [36]:
df.dtypes

Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type          int32
Seller_Type        int32
Transmission       int32
dtype: object

In [38]:
df.columns

Index(['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven', 'Fuel_Type',
       'Seller_Type', 'Transmission'],
      dtype='object')

In [40]:
df=df[['Year', 'Transmission', 'Present_Price', 'Kms_Driven', 'Fuel_Type',
       'Seller_Type', 'Selling_Price']]

In [44]:
df.head(5)

,Year,Transmission,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Selling_Price
0,2014,1,5.59,27000,2,0,3.35
1,2013,1,9.54,43000,1,0,4.75
2,2017,1,9.85,6900,2,0,7.25
3,2011,1,4.15,5200,2,0,2.85
4,2014,1,6.87,42450,1,0,4.60

### BUILDING MACHNE LEARNING MODEL

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### SPLITTING DATA INTO TRAIN AND TEST

In [50]:
X=df.iloc[:,:-1]
y=df["Selling_Price"]

In [52]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [64]:
from sklearn.ensemble import AdaBoostRegressor
model=AdaBoostRegressor()

### TRAINING DATA USING ADABOOST MODEL

In [66]:
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [68]:
from sklearn.metrics import r2_score

In [72]:
r2_score(pred,y_test)*100

90.17444775987296

### TRAINING DATA USINGXGBOOST

In [90]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\dayanand\appdata\roaming\python\python312\site-packages (3.1.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.13.1)

In [95]:
from xgboost import XGBRegressor
model = XGBRegressor()

In [97]:
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [99]:
r2_score(pred,y_test)*100

95.5988915006661